.envlable{
    opacity:0.75;
    position: absolute;
    top: 20px;
    left: -20px;
    z-index: 10000;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    }
.envtext {
    font-family:Arial;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    width: 110px;
    height: 20px;
    }
.envtextTest {
    background-color: green;
    color: white;
    }
.envtextPreProd {
    background-color: red;
    color: white;
    }
.error {
    font-style: italic;
    font-color: red;
}

.app-area {
    background-color: wheat;
}
.ReadingPane {
    margin-left: 20px;
    background: #aaaaaa;
}

.status-display {
    border-style: none;
    table-layout: fixed;
    margin-left:40px;
    margin-right:40px;
}
.numeric-display{
    margin-left:5px;
    margin-right:5px;
    padding-left:10px;
    padding-right:10px;
    vertical-align: middle;
    font-size: larger;
    height: 25px;
    width: 25px;
    background-color: lightblue;
    text-align: right;
}

.fault-number
{
    color: red;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.KeyboardLayoutArea {
    background: #ffffdd;
    margin-left: 40px;
    margin-right: 40px;
}
.KeyboardLayout {
    margin: 5px;
}
#KeyboardLayoutTableRow1 {
    margin-left: 0px;
}
#KeyboardLayoutTableRow2 {
    margin-left: 37px;
}
#KeyboardLayoutTableRow3 {
    margin-left: 42px;
}
.KeyCell {
    margin: 10px;
    cell-padding: 5px;
}
.KeyButton {
    font-size: 20px;
    font-weight: 600;
    background: lightgreen;
}

.KeyButtonRequired {
    font-size: 20px;
    font-weight: 600;
    background: #90eedd;
}

.KeyButtonPressed {
    font-size: 20px;
    font-weight: 600;
    background: darkgreen;

}

.TypingPane {
    margin: 0px;
    background: lightgray;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    height: 60px;
    font-size: 26px;
    float: left;
}
.matchKey {
    color: green;
}

.wrongKey {
    color: red;
}

.laterKey {
    background: grey;
    color: grey;
}
